@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');

body{
    background-color: black;
    background-image: url("http://cdn.lowgif.com/full/a898c9346701fe0f-loop-time-gif-by-psyklon-find-share-on-giphy.gif");
    // background-size: contain;
}

#counterBody{
    height: 50px;
    width: 220px;
    margin: auto;
    position: relative;
    top: 75px;
    display: flex;
    justify-content: center;
    background-color: rgb(231, 133, 21);
    font-size: xx-large;
    border-radius: 15px;
}
.icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    position: relative;
    top: 5px;
    background-color: black;
    color: rgb(222, 168, 233);
    border-radius: 15px;
    padding-top: 5px;
}
.thousand{
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    position: relative;
    top: 5px;
    background-color: black;
    color: rgb(214, 138, 230);
    border-radius: 15px;
    font-family: 'Stick', sans-serif;
    padding-bottom: 5px;

}
.hundred{
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    position: relative;
    top: 5px;
    background-color: black;
    color: rgb(209, 107, 230);
    border-radius: 15px;
    font-family: 'Stick', sans-serif;
    padding-bottom: 5px;
}
.ten{
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    position: relative;
    top: 5px;
    background-color: black;
    color: rgb(203, 82, 228);
    border-radius: 15px;
    font-family: 'Stick', sans-serif;
    padding-bottom: 5px;
}
.unit{
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    position: relative;
    top: 5px;
    background-color: black;
    color: rgb(200, 53, 230);
    border-radius: 15px;
    font-family: 'Stick', sans-serif;
    padding-bottom: 5px;
}